<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RyanStomelEntities" connectionString="metadata=res://*/ServiceTitanModel.csdl|res://*/ServiceTitanModel.ssdl|res://*/ServiceTitanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=161.97.104.204\SQLEXPRESS;initial catalog=RyanStomel;persist security info=True;user id=sa;password=TechExt@P@ssw0rd;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="initial catalog=RyanStomel;persist security info=True;user id=sa;password=TechExt@P@ssw0rd;MultipleActiveResultSets=True" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>