<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="RyanStomelEntities" connectionString="metadata=res://*/ServiceTitanModel.csdl|res://*/ServiceTitanModel.ssdl|res://*/ServiceTitanModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ServerName;initial catalog=DatabaseName;persist security info=True;user id=userId;password=Password;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
    <add key="ST_App_Key" value="ak1.elhval5qd34dtctweodftb461"/>
    <add key="AssemblyAIToken" value="65362c0f031140b7a690ea4209f4a44b"/>
    <add key="ServiceTitanTokenURL" value="https://auth.servicetitan.io/connect/token"/>
    <add key="ServiceTitanCallsURL" value="https://api.servicetitan.io/telecom/v2/tenant"/>
    <add key="AssemblyAIURL" value="https://api.assemblyai.com/v2/transcript"/>
    <add key="STPageSize" value="10"/>
    <add key="STFromDate" value="05/01/2022"/>
    <add key="STToDate" value="05/31/2022"/>
  </appSettings>
</configuration>